// Como o Bootstrap nos traz todos os posicionamentos corretos eu consegui fazer o mínimo nesse css alternativo.
// Alteracoes de cores no design e bordas.

#banner{
	background-color: #f2f2f2;
}

.col-md-12 cd-slider-wrapper{
	color: blue;
}

#containerbaixo{
	background-color: #e7e7e7;
}

#galeria{
	background-color: white
}

#iframe{
	border:2;
}
